{% extends 'movies/base.html' %}

{% block body %}
    <h1>Detail Page</h1>
    <h5><b> {{ movie.id }}. 영화 제목 : {{ movie.title }} </b></h5>
    <hr />
    <p>영화 영문 제목 : {{ movie.title_origin }}</p>
    <p>영화 투표수 : {{ movie.vote_count }}</p>
    <p>영화 개봉일 : {{ movie.open_date }}</p>
    <p>영화 장르 : {{ movie.genre }}</p>
    <p>영화 평점 : {{ movie.score }}</p>
    <p>영화 소개 : {{ movie.description }}</p>
    <p>영화 포스터 :</p>
    <p><img src="{{ movie.poster_url }}" alt="영화포스터가 요 있네"></p>
    <hr />
    <a href="{% url 'movies:index' %}">[돌아가기]</a>
    <a href="{% url 'movies:update' movie.id %}">[수정하기]</a>
    <form action="{% url 'movies:delete' movie.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제하기">
    </form>

{% endblock %}